.fa {
  color:#0000FF;
}

.fa.folder {
  cursor: pointer;
}

.fa.question-nav {
  cursor: pointer;
}

qa-questions .question-answer {
  margin:20px;
}

qa-questions .question {
  font-weight: bold;
}

qa-flashcards .question-answer {
  max-width: 600px;
  width: 100%;
  padding: 5px;
  margin: 5px;
  border: 1px solid #444444;
  background-color: #DDDDDD;
  min-height: 300px;
}

qa-flashcards .navigation {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 20px;
}

qa-flashcards .question {
  font-weight: bold;
  margin-bottom: 5px;
}

qa-flipcards .question-answer {
  max-width: 600px;
  width: 100%;
  padding: 5px;
  margin: 5px;
  border: 1px solid #444444;
  background-color: #DDDDDD;
  min-height: 300px;
}


qa-flipcards .navigation {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 20px;
}

qa-flipcards .question {
  font-weight: bold;
  margin-bottom: 5px;
}
